header
    h1  #{siteName}

    //form(method="get", action="/search")
    //    input(type="number", name="year", placeholder="Filter by year")
    //    input(type="number", name="rating", placeholder="Filter by rating")
    //    button(type="submit",)  Search
    //
    //ul
    //    li
    //        a(href="/") Home
    //    li
    //        a(href="/upload") Upload